In [2]:
import numpy as mp
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import eda_helper_functions

In [5]:
file_path=r"C:\Users\sakas\OneDrive\Desktop\flights aws\data\train.xlsx"
train=pd.read_excel(file_path)
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Multiple Carriers,2019-05-06,Delhi,Cochin,10:20:00,19:00:00,520,1,No Info,9794
1,Jet Airways,2019-04-06,Banglore,Delhi,08:20:00,11:20:00,180,0,In-flight meal not included,4544
2,Spicejet,2019-06-18,Chennai,Kolkata,17:45:00,20:05:00,140,0,No check-in baggage included,3543
3,Indigo,2019-05-24,Kolkata,Banglore,20:20:00,22:55:00,155,0,No Info,4804
4,Jet Airways,2019-06-03,Delhi,Cochin,22:50:00,19:00:00,1210,1,In-flight meal not included,10262
...,...,...,...,...,...,...,...,...,...,...
635,Jet Airways,2019-05-18,Kolkata,Banglore,16:30:00,18:15:00,1545,1,In-flight meal not included,10844
636,Spicejet,2019-05-09,Kolkata,Banglore,11:35:00,18:50:00,435,1,No Info,8479
637,Jet Airways,2019-03-27,Delhi,Cochin,18:15:00,04:25:00,610,1,In-flight meal not included,6540
638,Goair,2019-03-03,Delhi,Cochin,07:00:00,12:50:00,350,1,No Info,7378
639,Indigo,2019-06-06,Banglore,Delhi,20:00:00,22:50:00,170,0,No Info,4823

In [6]:
train.dtypes

airline                    object
date_of_journey    datetime64[ns]
source                     object
destination                object
dep_time                   object
arrival_time               object
duration                    int64
total_stops                 int64
additional_info            object
price                       int64
dtype: object